@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
}
main{
  min-height: 100vh;
  padding: 25px;
}
.App{
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.Logo {
  text-align: left;
  color: white;
  font-size: 20px;
}


.search-box{
  width: 100%;
  margin: 0 0 50px;
}

.search-box .search-bar {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 40%;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 16px 16px 16px 16px;
  margin-top: 0px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  font-size: 15px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255,255,255,0.75);
}

.Date{
  color: white;
  font-size: 40px;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.info-box{
 padding-top: 40px;
}